<fury-page-layout mode="card" >
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] current="Case Dashboard"></fury-breadcrumbs>
  </fury-page-layout-header>
  <fury-page-layout-content [@fadeInUpStagger]
                            cdkDropListGroup
                            fxLayout="column"
                            fxLayout.lt-sm="column"
                            fxLayoutAlign="start start"
                            fxLayoutGap="24px">


        <case-data-widget fxFill fadeInUpStaggerElement
            [caseId]="caseId"
            [options]="caseDataOptions"
            [tableOptions]="caseDataTableOptions"
            [tableData]="volunteers$ | async"
            style="margin: 1em">
        </case-data-widget>


        <div fxFill fxLayout="column" fxLayoutAlign='end' [fxLayoutGap]="gap" [fxFlex]="col(2)" >
          <div fxFlex="grow">
            <fury-google-maps [caseId]="caseId" [zoom]="mapOptions.zoom"></fury-google-maps>
          </div>
        </div>

  </fury-page-layout-content>

  
</fury-page-layout>


