<fury-page [fxLayoutGap]="gap" class="dashboard" fxLayout="column">
    <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-lg="row">
        <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)">
          <div fxFlex="grow" class="route-animations-elements">
            <case-data-widget 
                [options]="caseDataOptions"
                [tableOptions]="caseDataTableOptions"
                [tableData]="volunteers$ | async">
            </case-data-widget>
          </div>
        </div>
      </div>
      <div fxFill fxLayout="column" fxLayoutAlign='end' [fxLayoutGap]="gap" [fxFlex]="col(2)">
        <div fxFlex="grow">
          <fury-google-maps [caseId]="caseId" [zoom]="mapOptions.zoom"></fury-google-maps>
        </div>
      </div>
</fury-page>


