<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="about-title text-center">
                    <h2 class="font-weight-light">Our Development Team</h2>
                    <p class="text-muted pt-4">Each one of our developers has worked hard to make this product come to life. We are all graduating with our Bachelors in Computer Science in Spring 2020.</p>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-evenly center" fxLayoutWrap>
            <div class="col-lg-3 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/daniel.jpg" class="team-img rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Daniel Osmond</h4>
                    <p class="text-uppercase team-designation">Developer</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/sunny.jpg" class="team-img rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Sunny Siu</h4>
                    <p class="text-uppercase team-designation">Developer</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/img-3.jpg" class="team-img rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Mike Wright</h4>
                    <p class="text-uppercase team-designation">Developer</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/kunaal.jpg" class="team-img rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Kunaal Kumar</h4>
                    <p class="text-uppercase team-designation">Developer</p>
                </div>
            </div>

        </div>
    </div>
</section>