@import "var";

.card-content {
  padding: 0;
}

.content {
  margin-top: $spacing;
  height: 180px;
  max-width: 100%;
  display: flex;
  flex: 1;
  position: relative;
}

.actions {
  & button {
    margin : 1em;
  }
  display: inline-flex
}

.spacing {
  & mat-form-field {
    padding: 10px
  }
}