<sar-card>
  <form [formGroup]="dateFormGroup">
    <sar-card-header>
      <sar-card-header-heading>{{ options.title }}</sar-card-header-heading>
      <sar-card-header-subheading *ngIf="options.subTitle">{{ options.subTitle }}</sar-card-header-subheading>
      <sar-card-header-subheading *ngIf="options.totalCases">{{ options.totalCases }}</sar-card-header-subheading>
      <sar-card-header-subheading *ngIf="options.threshold">
        {{ options.threshold }}
        <mat-form-field class="small">
          <mat-label>Threshold</mat-label>
          <input matInput formControlName="threshold" type="number" min="0" max="100" [(ngModel)]="threshold" required>
        </mat-form-field>%
      </sar-card-header-subheading>

      <sar-card-header-actions class="spacing">
          <mat-form-field>
            <mat-label>Choose a start date</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="startpicker" (dateInput)="updateMin($event)" formControlName="startDate" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-error *ngIf="dateFormGroup.get('startDate').invalid">A start date is required</mat-error>
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Choose an end date</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="endpicker" (dateInput)="updateMax($event)" formControlName="endDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
  
        <button mat-button (click)="submit()" [disabled]="dateFormGroup.invalid">
          <mat-icon>find_in_page</mat-icon>
        </button>
      </sar-card-header-actions>
    </sar-card-header>

    <sar-card-content class="card-content">
        <audit-page-widget-table [data]="tableData" [columns]="tableOptions?.columns"
                                      [pageSize]="tableOptions?.pageSize"
                                      [threshold]="threshold"></audit-page-widget-table>
  
    </sar-card-content>
  
    <sar-loading-overlay [isLoading]="isLoading"></sar-loading-overlay>
  </form>
</sar-card>