<body>
    <div class='bg'>
        <div class='overlay'></div>
        <div class='container'>
            <mat-card class='info-box' style="text-align: center;">
                <mat-card-title>
                    Forbidden<br>403
                </mat-card-title>
                <mat-card-content>
                    Looks like you don't have permission to be here. This is an admin only area. 
                </mat-card-content>
                <button mat-raised-button class="home-button">Go Home</button>
            </mat-card>
        </div>
    </div>
</body>