.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow: scroll;
}

:host ngx-gallery ::ng-deep .ngx-gallery-arrow {
    color: black;
}