<sar-card> 
  <sar-card-header class="container">
    <sar-card-header-heading>{{ options.title }}</sar-card-header-heading>
    <sar-card-header-subheading *ngIf="options.subTitle">{{ options.subTitle }}</sar-card-header-subheading>

    <sar-card-header-actions>
      <button *ngIf="options.title=='Volunteers'" mat-icon-button 
                                                  matTooltip="Add Volunteer" 
                                                  (click)="openVolunteerDialog()">
        <mat-icon> person_add</mat-icon>
      </button>
      <button *ngIf="options.title=='Cases'" mat-icon-button
                                             matTooltip="Add Case" 
                                             (click)="openCreateCaseDialog()">
        <mat-icon> note_add</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Refresh" (click)="reload()">
        <mat-icon>refresh</mat-icon>
      </button>
    </sar-card-header-actions>
  </sar-card-header>

  <sar-card-content class="card-content">
    <sar-recent-sales-widget-table [data]="tableData" [columns]="tableOptions?.columns"
                                    [pageSize]="tableOptions?.pageSize" [clickable]="tableOptions?.clickable"></sar-recent-sales-widget-table>

  </sar-card-content>

  <sar-loading-overlay [isLoading]="isLoading"></sar-loading-overlay>
</sar-card>
