<fury-card> 
  <fury-card-header class="container">
    <fury-card-header-heading>{{ options.title }}</fury-card-header-heading>
    <fury-card-header-subheading *ngIf="options.subTitle">{{ options.subTitle }}</fury-card-header-subheading>

    <fury-card-header-actions>
      <button *ngIf="options.title=='Volunteers'" mat-icon-button (click)="openVolunteerDialog()">
        <mat-icon> person_add</mat-icon>
      </button>
      <button *ngIf="options.title=='Cases'" mat-icon-button (click)="openCreateCaseDialog()">
        <mat-icon> note_add</mat-icon>
      </button>
      <button mat-icon-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
      </button>
    </fury-card-header-actions>
  </fury-card-header>

  <fury-card-content class="card-content">
    <fury-recent-sales-widget-table [data]="tableData" [columns]="tableOptions?.columns"
                                    [pageSize]="tableOptions?.pageSize" [clickable]="tableOptions?.clickable"></fury-recent-sales-widget-table>

  </fury-card-content>

  <fury-loading-overlay [isLoading]="isLoading"></fury-loading-overlay>
</fury-card>
