<sar-page-layout mode="card">
    <sar-page-layout-header>
        <sar-breadcrumbs [@fadeInRight] current="Volunteers"></sar-breadcrumbs>
      </sar-page-layout-header>

      <sar-page-layout-content [@fadeInUpStagger]
                                cdkDropListGroup
                                fxLayout="row"
                                fxLayout.lt-sm="row"
                                fxLayoutAlign="start start"
                                fxLayoutGap="24px">

        <sar-recent-sales-widget fxFill
                                [options]="volunteerOptions"
                                [tableOptions]="volunteerTableOptions"
                                [tableData]="volunteerDataObservable$ | async"
                                (refreshVolunteers)="refreshVolunteers()"
                                [isLoading]="volunteerloading">
        </sar-recent-sales-widget>

      </sar-page-layout-content>

</sar-page-layout>