<fury-page-layout mode="card">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] current="Volunteers"></fury-breadcrumbs>
      </fury-page-layout-header>

      <fury-page-layout-content [@fadeInUpStagger]
                                cdkDropListGroup
                                fxLayout="row"
                                fxLayout.lt-sm="row"
                                fxLayoutAlign="start start"
                                fxLayoutGap="24px">

        <fury-recent-sales-widget fxFill
                                [options]="volunteerOptions"
                                [tableOptions]="volunteerTableOptions"
                                [tableData]="volunteerDataObservable$ | async"
                                (refreshVolunteers)="refreshVolunteers()"
                                [isLoading]="volunteerloading">
        </fury-recent-sales-widget>

      </fury-page-layout-content>

</fury-page-layout>