<sar-page-layout mode="card">
  <sar-page-layout-header>
    <sar-breadcrumbs [@fadeInRight] current="Audit"></sar-breadcrumbs>
  </sar-page-layout-header>
  <sar-page-layout-content [@fadeInUpStagger]
                            cdkDropListGroup
                            cdkScrollable
                            fxLayout="row"
                            fxLayout.lt-sm="row"
                            fxLayoutAlign="start start"
                            fxLayoutGap="24px">

    <audit-page-widget fxFill fadeInUpStaggerElement
                      [options]="auditPageOptions"
                      [tableOptions]="auditPageTableOptions"
                      [tableData]="volunteerDataObservable$ | async"
                      [threshold]="threshold"
                      (refreshVolunteers)="refreshVolunteers()"
                      (queryDates)="refreshWithDates($event)">
    </audit-page-widget>
  </sar-page-layout-content>
</sar-page-layout>