<sar-card>
  <sar-card-header>
    <sar-card-header-heading>{{ options.title }}</sar-card-header-heading>
    <sar-card-header-subheading *ngIf="options.subTitle">{{ options.subTitle }}</sar-card-header-subheading>

    <sar-card-header-actions class="actions">
      <button mat-raised-button color="primary" (click)="addVolunteers()">
        <mat-icon> person_add</mat-icon>
        Assign
      </button>
      <button mat-icon-button (click)="cancel()">
        <mat-icon> cancel</mat-icon>
      </button>
    </sar-card-header-actions>
  </sar-card-header>

  <sar-card-content class="card-content">
    <add-volunteers-widget-table [data]="tableData" [columns]="tableOptions?.columns"
                                    [pageSize]="tableOptions?.pageSize" [clickable]="tableOptions?.clickable"
                                    [(selection)]="selection"></add-volunteers-widget-table>

  </sar-card-content>

  <sar-loading-overlay [isLoading]="isLoading"></sar-loading-overlay>
</sar-card>
