<body>
    <div class='bg'>
        <div class='overlay'></div>
        <div class='container'>
            <mat-card class='info-box' style="text-align: center;">
                <mat-card-title>
                    Not Found<br>404
                </mat-card-title>
                <mat-card-content>
                    Looks like you're lost.<br>
                    Good thing we specialize getting people home.<br>
                    Here's some safe places to go.
                </mat-card-content>
                <button mat-raised-button class="nav-button" [routerLink]="['']">Home</button>
                <button mat-raised-button class="nav-button" routerLink="/dashboard">Dashboard</button>
            </mat-card>
        </div>
    </div>
</body>