@import "var";

.page {
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  width: 380px;

  @include media-xs {
    width: 300px;
  }

  .header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.logo {
  width: 80px;
  height: 80px;
}


.bg-account-pages {
  background: linear-gradient(to right, rgb(70, 88, 97), #607D8B);
  opacity: 0.9;
}

.bg-overlay {
  background: #607D8B;
  /* fallback for old browsers */
  background: linear-gradient(to right, rgb(70, 88, 97), #607D8B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.95;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

