<div class="bg-account-pages page" fxLayout="column" fxLayoutAlign="center center" style="background-image: url('assets/images/img-3.jpg'); background-size: cover; background-position: center;">
  <div class="bg-overlay"></div>
  <div [@fadeInUp] class="card border-radius elevation" style="position: relative">
    <div class="header padding background-primary" fxLayout="column" fxLayoutAlign="center center">
      <div class="logo fill-primary-contrast">
        <div *ngIf="logoUrl" class="logo">
          <img [src]="logoUrl" alt="logo" style="max-height: 100px; width: 100px; margin: auto">
        </div>
      </div>
    </div>
    <div class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="form">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
          <input matInput required formControlName="email">
          <mat-hint>Enter your mail to recover your password.</mat-hint>
          <mat-error *ngIf="form.get('email').hasError('required')">
            We can't recover your password, without your email.
          </mat-error>
        </mat-form-field>
      </div>

      <button type="button" color="primary" mat-raised-button (click)="send()">
        SEND RECOVERY LINK
      </button>
    </div>
  </div>
</div>
