<section class="home-padding-t-150 height-60vh" id="home" style="background-image: url('assets/images/img-3.jpg'); background-size: cover; background-position: top;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div fxLayout="column">
            <div class="text-white text-center">
                <h4 class="home-small-title">Award Winning</h4>
                <h1 class="home-title">We are SAR Solutions</h1>
                <p class="padding-t-15 home-desc">Helping to Coordinate Searches and Save Lives</p>
                <button mat-raised-button class="margin-t-20" style="position: relative;" (click)="start()">Get Started</button>
                <br>
                <p class="play-shadow margin-t-30 margin-l-r-auto padding-t-15 hover" style="position:relative; margin-top: 10vh"><a (click)="openDialog()" class="play-btn video-play-icon margin-t-20"><i class="mdi mdi-play text-center"></i></a></p>
                <!-- <img src="assets/images/home-dashboard.png" alt="" class="img-responsive margin-t-20 img">   -->
            </div>
        </div>
    </div>
</section>

<app-feature></app-feature>
<app-services></app-services>
<app-about></app-about>
<app-getstart></app-getstart>
<app-contact></app-contact>