<section class="home-padding-t-150" id="home" style="background-image: url('assets/images/img-2.jpg'); background-size: cover; background-position: center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div fxLayout="column">
            <div class="col-lg-8 offset-lg-2 text-white text-center">
                <h4 class="home-small-title">Lorem Ipsum</h4>
                <h1 class="home-title">We are SAR Solutions</h1>
                <p class="padding-t-15 home-desc mx-auto">Maecenas class semper class semper sollicitudin lectus lorem iaculis imperdiet aliquam vehicula tempor auctor curabitur pede aenean ornare.</p>
                <button mat-raised-button class="margin-t-20" style="position: relative;">Get Started</button>
                <br>
                <img src="assets/images/home-dashboard.png" alt="" class="img-responsive margin-t-20" style="position: relative">  
            </div>
        </div>
    </div>
</section>

<app-feature></app-feature>
<app-services></app-services>
<app-about></app-about>
<app-contact></app-contact>