<div class="background-pattern page" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
      
          <div id="login-form">
      
            <div *ngIf="logoUrl" class="logo">
              <img [src]="logoUrl" alt="logo">
            </div>
      
            <div class="title">{{titleText}}</div>
      
            <form name="loginForm" [formGroup]="loginForm" novalidate>
      
              <mat-form-field [appearance]="appearance">
                <input matInput [placeholder]="emailText" formControlName="email">
                <mat-icon matSuffix [color]="color">email</mat-icon>
                <mat-error *ngIf="loginForm.get('email').hasError('required')">
                  {{emailErrorRequiredText}}
                </mat-error>
                <mat-error
                  *ngIf="!loginForm.get('email').hasError('required') &&
                                      loginForm.get('email').hasError('email')">
                  {{emailErrorPatternText}}
                </mat-error>
              </mat-form-field>
      
              <mat-form-field [appearance]="appearance">
                <input matInput type="password" [placeholder]="passwordText" formControlName="password">
                <mat-icon matSuffix [color]="color">lock</mat-icon>
                <mat-error>
                  {{passwordErrorRequiredText}}
                </mat-error>
              </mat-form-field>
      
              <div class="remember-forgot-password"
                   fxLayout="row" fxLayout.xs="column"
                   fxLayoutAlign="space-between center">
      
                <button *ngIf="resetPasswordEnabled"
                        
                        mat-button
                        class="forgot-password"
                        [color]="color"
                        type="button"
                        (click)="onResetPasswordRequested.emit()">
                  {{forgotPasswordText}}
                </button>
              </div>
      
              <button mat-raised-button
                      id="loginButton"
                      [color]="colorAccent"
                      class="submit-button"
                      aria-label="LOG IN"
                      [disabled]="loginForm.invalid"
                      (click)="login()">
                {{loginButtonText}}
              </button>
      
            </form>
      
            <div *ngIf="registrationEnabled"
                 
                 class="register"
                 fxLayout="column" fxLayoutAlign="center center">
            </div>
          </div>
        </div>
</div>
