<sar-page-layout mode="card">
  <sar-page-layout-header>
    <sar-breadcrumbs [@fadeInRight] [crumbs]="['Case Dashboard']" current="Shift Logs"></sar-breadcrumbs>
  </sar-page-layout-header>

  <sar-page-layout-content [@fadeInUp]
                            cdkDropListGroup fxLayout="row"
                            fxLayout.lt-sm="row"
                            fxLayoutAlign="start start"
                            fxLayoutGap="24px">
    <sar-card fxFill>
      <sar-card-header class="container">
        <sar-card-header-heading>Volunteer: {{volunteerName}}</sar-card-header-heading>
        <sar-card-header-subheading>Case: {{ caseName }}</sar-card-header-subheading>
        <sar-card-header-subheading>Total Shift Miles: {{ totalMiles }}</sar-card-header-subheading>
        <sar-card-header-subheading>Total Shift Hours: {{ totalHours }}</sar-card-header-subheading>
        <sar-card-header-actions>
          <button mat-icon-button (click)="refreshShifts()">
            <mat-icon>refresh</mat-icon>
          </button>
        </sar-card-header-actions>
      </sar-card-header>
      <sar-card-content class="card-content">
        <sar-list [hideHeader]="true" class="list" fxFlex="grow" fxLayout="column">
          <table [dataSource]="dataSource" mat-table matSort>

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
    
            <!-- Columns -->
            <ng-container *ngFor="let column of columns">
              <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
                <td *matCellDef="let row" mat-cell>
                  {{ row[column.property] }}
                </td>
              </ng-container>
            </ng-container>

            <!--Show Vehicles Column-->
            <ng-container matColumnDef="showVehicles">
              <th *matHeaderCellDef class="vehicles-cell" mat-header-cell mat-sort-header>Vehicles</th>
              <td *matCellDef="let row" mat-cell>
                <button mat-raised-button (click)="showVehicles(row.vehicles)"> Show </button>
              </td>
            </ng-container>

            <!-- actions Column -->
            <ng-container matColumnDef="actions">
              <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
              <td *matCellDef="let row" class="actions-cell" mat-cell>
                <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu"
                  (click)="$event.stopPropagation()">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                        
                <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                  <button (click)="updateShift(row)" mat-menu-item>
                    <span>Modify</span>
                  </button>
                  <!-- May want in the future-->
                  <!-- <button (click)="deleteShift(row)" mat-menu-item>
                    <span>Delete</span>
                  </button> -->
                </mat-menu>
              </td>
            </ng-container>
    
            <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: visibleColumns;"
              class="route-animations-elements" mat-row></tr>
          </table>
          
          <mat-paginator [pageSize]="pageSize" class="paginator"></mat-paginator>
        </sar-list>
      </sar-card-content>
    <sar-loading-overlay [isLoading]="shiftsLoading"></sar-loading-overlay>

    </sar-card>
  </sar-page-layout-content>
</sar-page-layout>