<section class="section" id="features"  style="max-height: 300px">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" style="align-items: center; position: relative;">
        <div height="80%">
            <div class="features-box" style="width: auto; margin-right: 10%; margin-left: 10%">
                <h3>Achievements</h3>
                <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                    <li class="">
                        <a href="https://devpost.com/software/sar-coordinator">HackTheU 2019 1st Place Winner</a>
                    </li>
                    <li class="">
                        <a href="https://lassonde.utah.edu/get-seeded-awards-8445-in-grants-in-january/" style="">
                            Lassonde Get Seeded Micro Grant Recipient
                        </a>
                    </li>
                </ul>
                <a routerLink="#" class="btn btn-custom margin-t-30 waves-effect waves-light">Learn More <i class="mdi mdi-arrow-right"></i></a>
            </div>
        </div>
        <div>
            <div class="features-img mx-auto mr-lg-0" style="display: block;">
                <img src="assets/images/winner.png" alt="macbook image" style="max-width: 300px; height: auto">
                <img src="assets/images/lassonde.png" alt="macbook image" style="max-width: 300px; height: auto; padding-top: 10px;">
            </div>
        </div>
    </div>
</section>