<sar-page-layout mode="simple">
  <sar-page-layout-header>
    <sar-breadcrumbs [@fadeInRight] current="Components"></sar-breadcrumbs>
  </sar-page-layout-header>

  <sar-page-layout-content fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px">
    <sar-scrollbar [@fadeInRightStagger]
                    [fxFlex]="menuWidth"
                    class="sticky-list"
                    fxHide
                    fxLayout="column"
                    fxShow.gt-sm>
      <mat-list class="navigation" fxFlex="grow">
        <h3 fadeInRightStaggerElement matSubheader>Components</h3>
        <mat-list-item (click)="scrollTo('autocomplete')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Autocomplete</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('buttons')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Buttons</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('cards')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Cards</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('checkbox')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Checkbox</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('dialogs')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Dialog</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('gridList')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Grid List</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('input')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Input</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('lists')" fadeInRightStaggerElement matRipple>
          <h4 matLine>List</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('menu')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Menu</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('progress')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Progress</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('progressSpinner')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Progress Spinner</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('radio')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Radio</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('slider')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Slider</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('slideToggle')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Slide Toggle</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('snackBar')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Snack Bar</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('tooltip')" fadeInRightStaggerElement matRipple>
          <h4 matLine>Tooltip</h4>
        </mat-list-item>
      </mat-list>
    </sar-scrollbar>

    <div [@fadeInUpStagger] class="content" fxLayout="column" fxLayoutGap="24px">
      <sar-autocomplete fadeInUpStaggerElement></sar-autocomplete>
      <sar-buttons fadeInUpStaggerElement></sar-buttons>
      <sar-cards fadeInUpStaggerElement></sar-cards>
      <sar-checkbox fadeInUpStaggerElement></sar-checkbox>
      <sar-dialogs fadeInUpStaggerElement></sar-dialogs>
      <sar-grid-list fadeInUpStaggerElement></sar-grid-list>
      <sar-input fadeInUpStaggerElement></sar-input>
      <sar-lists fadeInUpStaggerElement></sar-lists>
      <sar-menu fadeInUpStaggerElement></sar-menu>
      <sar-progress fadeInUpStaggerElement></sar-progress>
      <sar-progress-spinner fadeInUpStaggerElement></sar-progress-spinner>
      <sar-radio fadeInUpStaggerElement></sar-radio>
      <sar-slider fadeInUpStaggerElement></sar-slider>
      <sar-slide-toggle fadeInUpStaggerElement></sar-slide-toggle>
      <sar-snack-bar fadeInUpStaggerElement></sar-snack-bar>
      <sar-tooltip fadeInUpStaggerElement></sar-tooltip>
    </div>
  </sar-page-layout-content>
</sar-page-layout>

