.container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  #input-form {
      position: relative;
      z-index: 1;
      & input {
          position: absolute;
          background: transparent;
          font-size: 8px;
          vertical-align: top;
          border: none;
      }
  }

  .submitButton {
      position: absolute;
      right: 0;
      bottom: 0;
      & button {
          margin: .5em;
      }
  }