<div class="container" #pdf>
    <!-- Little trick to center the inputs to the viewer -->
    <div class="form-container">
        <form id="input-form" [formGroup]="myForm" novalidate>
        
            <!-- Cycle through all the inputs -->
            <div *ngFor="let input of inputList">
                    <textarea *ngIf="input.multiLine==true"
                        [name]="input.name"
                        [formControlName]="input.name" 
                        [value]="input.value" 
                        [ngStyle]="getInputPosition(input)"></textarea>
                <!-- Insert an input accordingly and get the style/position from the component -->
                    <input *ngIf="input.multiLine==false"
                    [type]="input.type"
                    [name]="input.name"
                    [formControlName]="input.name" 
                    [value]="input.value" 
                    [ngStyle]="getInputPosition(input)">
            </div>
        </form>
    </div>
    <pdf-viewer id="viewer" [src]="pdfSrc" (after-load-complete)="loadComplete($event)"></pdf-viewer>

    
    <!--<div class="submitButton">
        <button mat-raised-button color="primary" (click)="submitReport()">Save</button>
        <button mat-raised-button color="warn" (click)="cancelReport()">Cancel</button>
    </div> -->
</div>