<div [@fadeInUpStagger] fxLayout="column" fxLayoutAlign="start center">
  <div class="card">
    <form [formGroup]="accountFormGroup">
      <ng-template matStepLabel>Create Account</ng-template>

      <div class="heading">Create Volunteer</div>
      <div class="subheading">Set up the basic info for your new volunteer</div>

      <div class="content" fxLayout="column" fxLayoutGap="8px">      
        <mat-form-field fxFlex="auto">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput required>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput required>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
            <mat-label>E-Mail</mat-label>
            <input formControlName="email" matInput required>
            <mat-hint align="end">example@example.com</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <mat-label>Badge Number</mat-label>
          <input formControlName="badgeNum" matInput>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <mat-label>Phone Number</mat-label>
          <input formControlName="phoneNum" matInput>
        </mat-form-field>

        <mat-form-field fxFlex="auto">
          <mat-label>Role</mat-label>
          <mat-select [(value)]="role">
            <mat-option value="Admin">Admin</mat-option>
            <mat-option value="Volunteer">Volunteer</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
        <button (click)="cancel()" color="primary" mat-button
                type="button">Cancel
        </button>
        <button (click)="submit()" [disabled]="accountFormGroup.invalid" color="primary" 
                mat-raised-button>CREATE
        </button>
      </div>
    </form>
  </div>
</div>