<footer class="footer">
    <div class="container">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center" class="margin-t-20">
                <h4>SAR Solutions</h4>
                <div class="text-muted margin-t-20" scrollSpy>
                    <ul class="list-unstyled footer-list">
                        <li><a data="id_home"  [ngx-scroll-to]="'#home'" class="nav-link">Home</a></li>
                        <li><a data="id_about" [ngx-scroll-to]="'#about'" class="nav-link">About us</a></li>
                        <li><a data="id_contact" [ngx-scroll-to]="'#contact'" class="nav-link">Contact us</a></li>
                    </ul>
                </div>
            </div>       
            <div fxLayout="column" fxLayoutAlign="center center" class="margin-t-20" >
                <h4>Subscribe</h4>
                <div class="text-muted margin-t-20" style="max-width: 80%">
                    <p>Subscribe to get periodic updates on our web and mobile app as we strive to make saving lives quicker.</p>
                    <form class="form subscribe">
                        <input placeholder="Email" class="form-control" required fxFlex>
                        <a href="#" class="submit"><i class="pe-7s-paper-plane"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--END FOOTER-->

<!--START FOOTER ALTER-->
<div class="footer-alt">
    <div class="container">
        <div id="bottom-footer">
            <div fxLayout="row">
                <div style="margin-left: 5%">
                    <p class="copy-rights text-muted">{{ cur_year }} © SAR Solutions</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>