<footer class="footer">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign="center center" class="margin-t-20">
                <h4>HIRIC</h4>
                <div class="text-muted margin-t-20">
                    <ul class="list-unstyled footer-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="col-lg-3 margin-t-20">
                <h4>Information</h4>
                <div class="text-muted margin-t-20">
                    <ul class="list-unstyled footer-list">
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Jobs</a></li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="col-lg-3 margin-t-20">
                <h4>Support</h4>
                <div class="text-muted margin-t-20">
                    <ul class="list-unstyled footer-list">
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Disscusion</a></li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="margin-t-20" >
                <h4>Subscribe</h4>
                <div class="text-muted margin-t-20" style="max-width: 80%">
                    <p>In an ideal world this text wouldn’t exist, a client would acknowledge the importance of having web copy before the design starts.</p>
                    <form class="form subscribe">
                        <input placeholder="Email" class="form-control" required fxFlex>
                        <a href="#" class="submit"><i class="pe-7s-paper-plane"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--END FOOTER-->

<!--START FOOTER ALTER-->
<div class="footer-alt">
    <div class="container">
        <div id="bottom-footer">
            <div fxLayout="row">
                <div class="float-left pull-none" style="margin-left: 5%">
                    <p class="copy-rights text-muted mb-3 mb-sm-0">{{ cur_year }} © Hiric - Themesbrand</p>
                </div>
                <div fxLayout="row" style="position: absolute; right: 10%">
                    <div style="margin: 1%">
                        <a href="" class="social-icon ml-1"><i class="mdi mdi-facebook"></i></a>
                    </div>
                    <div style="margin: 1%">
                        <a href="" class="social-icon ml-1"><i class="mdi mdi-twitter"></i></a>
                    </div>
                    <div style="margin: 1%">
                        <a href="" class="social-icon ml-1"><i class="mdi mdi-linkedin"></i></a>
                    </div>
                    <div style="margin: 1%">
                        <a href="" class="social-icon ml-1"><i class="mdi mdi-google-plus"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>