<section class="section" id="contact">
    <div class="container">
        <div class="row">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <h1 class="section-title text-center">Get In Touch</h1>
                    <div class="section-title-border margin-t-20"></div>
                    <p class="section-subtitle text-muted text-center font-secondary padding-t-30">Have questions or comments? We would love to hear from you! Send us an email below!</p>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
            <div style="padding:5%">
                <div >
                    <p><span class="h5 bold">Office Address 1:</span><br> <span class="text-muted d-block">201 Presidents' Cir <br/>Salt Lake City, UT 84112</span></p>
                    <p><span class="h5 bold">Working Hours:</span><br> <span class="text-muted d-block">9:00AM To 6:00PM</span></p>
                </div>
            </div>
            <div>
                <div>
                    <div id="message"></div>
                    <form method="post" action="#" name="contact-form" id="contact-form" >
                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
                            <div style="padding-right: 2%">
                                <div class="form-group">
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Your name*" style="width: 90%;">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email*" style="width: 100%;">
                                </div>
                            </div>                                
                        </div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Your Subject.." style="width: 100%;"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..." style="width: 100%;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="text-right">
                                <input type="button" id="submit" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                <div id="simple-msg"></div>
                            </div>
                        </div>
                    </form>
                </div>  
            </div>
        </div>
    </div>
</section> 